<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("KategoriList")
    </div>
    <div class="col-md-9">
        @await Component.InvokeAsync("UrunList")
    </div>
</div>